$layout-path : "/assets/layout/"

@import blueprint

body
	background:	url(#{$layout-path}/bg.png) top center repeat-x, url(#{$layout-path}/folder_noise.png) top center
	font-family: 'Rokkitt', serif

#wrapper
	width: 90%
	margin: 0 auto
 
h1#logo
	width: 390px
	height: 79px
	background: url(#{$layout-path}/easy_jobs.png) top center no-repeat
	text-indent: -9999px
	margin-top: 18px
	float: left

#user_bar
	float: right
	margin-top: 50px

#content
	background: url(#{$layout-path}/noise.png) top center, linear-gradient(#FFF, #CCC)
	float: left
	/* 80px / 950px = 0,08421052631579 */
	margin: 65px 8.421052631579%
	padding: 30px
	box-shadow: 0px 1px 20px rgba(0,0,0,0.8)
	height: 500px
	/* content (790px) / context (950px) = 0,83157894736842 */
	width: 83.157894736842% 

li
	list-style: none
	padding: 20px 0

	.job_link
		float: left
		background: #FFC
		

	.job_title
		+column(6)
		font-size: 1.4em

	.description
		+column(18, true)
		display: block
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis

.new_job_link
	float: right
	font-weight: bold
	font-size: 2em


.job_show

	.job_header
		float: left

	.job_title
		font-size: 1.4em
		font-weight: bold

	.job_date
		color: #D70000
		font-size: 1.4em
		font-weight: bold
		text-align: center
		float: right
		transform: rotate(-5deg)
		margin-right: 50px

	.company_name
		font-size: 1.2em
		color: #555
		margin-bottom: 30px

	p.job_description
		margin-bottom: 20px
		float: left

	.details_link
		display: block
		margin-bottom: 20px
		font-weight: bold
		float: left

	.job_links
		float: left
		clear: both

h2
	font-weight: bold
	font-size: 1.4em
	margin: 10px 0

.field
	label
		display: block
		margin-top: 20px
