$blueprint-grid-column : 24
$blueprint-grid-width : 30px
$blueprint-grid-margin : 10px


@import blueprint

#wrapper
	+container

h1
	font-size: 3em
	font-weight: bold

li
	list-style: none
	padding: 20px 0

	.job_link
		float: left
		background: #FFC
		

	.job_title
		+column(6)
		font-size: 1.4em

	.description
		+column(18, true)
		display: block
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis

.new_job_link
	float: right
	font-weight: bold
	font-size: 2em


.job_show
	.job_title
		font-size: 1.4em
		font-weight: bold

	.company_name
		font-size: 1.2em
		color: #555
		margin-bottom: 30px

	p.job_description
		margin-bottom: 20px

	.details_link
		display: block
		margin-bottom: 20px
		font-weight: bold

h2
	font-weight: bold
	font-size: 1.4em
	margin: 10px 0

.field
	label
		display: block
		margin-top: 20px
